{% extends "base.html" %}
{% block title %} HOME {% endblock title %} HOME 
{% block body %}
{%load static%}
<div class="container">
    <div class="flex space-between">
        <div class="home-icon">
        <button ><img src="{%static 'icon/home.svg'%}" alt=""></button>
        </div>

        <div class="tholder">
            <div class="Team_Leader_img">
                <img src="{{teamleader.image.url}}" alt="">
            </div>
            <p>{{teamleader}}</p>
        </div>

        <div class="home-icon">
            <button><img src="{%static 'icon/logout.svg'%}" alt=""></button>
        </div>
    </div>

    <div class="flex space-around">
        <div class="section-head">All Work</div>
        <div class="section-head">Approved Work</div>
        <div class="section-head">Rejected Work</div>
        <div class="section-head">Employes</div>
    </div>
    <div class="line">
    </div>

</div>

{% endblock body %}