{% extends "base.html" %}
{% block title %} HOME {% endblock title %} HOME 
{% block body %}
{%load static%}
<div class="container">
    <div class="flex space-between">
        <div class="home-icon">
        <button ><img src="{%static 'icon/home.svg'%}" alt=""></button>
        </div>

        <div class="tholder">
            <div class="Team_Leader_img">
                <img src="{{teamleader.image.url}}" alt="">
            </div>
            <p>{{teamleader}}</p>
        </div>

        <div class="home-icon">
            <button><img src="{%static 'icon/logout.svg'%}" alt=""></button>
        </div>
    </div>

    <div class="flex space-around">
        <div>
            <button class="section-head ">All Work</button>
            <div class="line-btn" id="LINE"></div>
        </div>
        
        <div>
            <button class="section-head" value="Approve">Approved Work</button>
        </div>
        <div>
            <button class="section-head" value="Rejected">Rejected Work</button>
        </div>
        <div>
            <button class="section-head" value="Employes">Employes</button>
        </div>
    </div>
    <div class="line"></div>
    
    <input type="hidden" id="csrf_token" value="{{csrf_token}}">
    {%csrf_token%}
    <div class="grid-card">
        {%for data in teamleader.get_all_Requests%}
        <div class="card_em">
            <div class="card_em_img">
            <img src="{{data.emploeey.image.url}}" alt="">
            </div>
            <p>{{data.emploeey.user}}</p>
            <p>{{teamleader}}</p>
            <p>{{data.start_time}}</p>
            <p>{{data.end_time}}</p>
            <p>{{data.date}}</p>
            
                {% if data.is_prove == True %}
                <button onclick="buttonClick(this)" id="reject{{data.id}}" class="red"  value="{{data.id}}">Rejected</button>
                
                {%elif data.is_prove == False %}
                <button onclick="buttonClick(this)" id="approve{{data.id}}" class="green"  value="{{data.id}}">Approve</button>
                {%else%}
                
                <button onclick="buttonClick(this)" id="approve{{data.id}}" class="green"  value="{{data.id}}">Approve</button>
                <button onclick="buttonClick(this)" id="reject{{data.id}}" class="red"  value="{{data.id}}">Rejected</button>
                {%endif%}
          
        </div>
        {%endfor%}


    </div>


</div>
<script src="{% static 'js/team.js'%}" ></script>
{% endblock body %}